<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Login Page - Ace Admin</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../static/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="../../static/assets/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="../../static/assets/css/ace.min.css" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../static/assets/css/ace-part2.min.css" />
		<![endif]-->
		<link rel="stylesheet" href="../../static/assets/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="../../static/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="../../static/assets/js/html5shiv.min.js"></script>
		<script src="../../static/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="login-layout" style="background: url('../../static/assets/images/bg.jpg') no-repeat center;">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="ace-icon fa fa-leaf green"></i>
									<span class="red">DarryRing</span>
									<span class="grey" id="id-text2">Application</span>
								</h1>
								<h4 class="blue" id="id-company-text">BackStage</h4>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border" style="padding: 2px;">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="ace-icon fa fa-coffee green"></i>
												Please Enter Your Information
											</h4>

											<div class="space-6"></div>

											<form id="frm" action="/adminLogin" method="post" >
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" placeholder="Admin" name="adminName" th:value="${session.adminName}" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="Password" name="adminPwd" th:value="${session.adminPwd}"/>
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<div class="space"></div>

													<div class="clearfix">
														<label class="inline">
															<input id="sp1" type="hidden" th:value="${session.adminRemember}">
															<input id="sp2" type="checkbox" class="ace" name="remember"/>
															<span class="lbl"> Remember Me</span>
														</label>

														<button type="button" class="width-35 pull-right btn btn-sm btn-primary" id="btn">
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">Login</span>
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>

											<div class="social-or-login center">
												<span class="bigger-110">Or Login Using</span>
											</div>

											<div class="space-6"></div>

											<div class="social-login center">
												<a class="btn btn-primary">
													<i class="ace-icon fa fa-facebook"></i>
												</a>

												<a class="btn btn-info">
													<i class="ace-icon fa fa-twitter"></i>
												</a>

												<a class="btn btn-danger">
													<i class="ace-icon fa fa-google-plus"></i>
												</a>
											</div>
										</div><!-- /.widget-main -->
									</div><!-- /.widget-body -->
								</div><!-- /.login-box -->
							</div><!-- /.position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="../../static/js/jquery.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>


		<script src="../../static/js/jquery.serializejson.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			var value = $("#sp1").val();
			console.log("值为："+value)
			if (value=="on"){
				console.log("设置成功了！！！")
				$("#sp2").attr("checked","checked");
			}
			if('ontouchstart' in document.documentElement) document.write("<script src='../../static/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
			 $("#btn").click(function () {
			 	$("#frm").submit();
			 })
			//
			// 	var formData =$("#frm").serialize();
			// 	console.log(formData)
			// 	$.post("http://localhost:8080/adminLogin",formData,function (data) {
			// 		if (data.state) {
			// 			window.location = "http://localhost:8080/order";
			// 		}else {
			// 			window.location = "http://localhost:8080/login";
			// 		}
			// 	});
			// });
		</script>
	</body>
</html>
