<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j1902.shopping.mapper.ItemMapper">
  <resultMap id="BaseResultMap" type="com.j1902.shopping.pojo.Item">
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_series" jdbcType="VARCHAR" property="itemSeries" />
    <result column="item_type" jdbcType="VARCHAR" property="itemType" />
    <result column="item_height" jdbcType="VARCHAR" property="itemHeight" />
    <result column="item_size" jdbcType="VARCHAR" property="itemSize" />
    <result column="item_number" jdbcType="INTEGER" property="itemNumber" />
    <result column="item_price" jdbcType="DOUBLE" property="itemPrice" />
    <result column="item_img1" jdbcType="VARCHAR" property="itemImg1" />
    <result column="item_img2" jdbcType="VARCHAR" property="itemImg2" />
    <result column="item_img3" jdbcType="VARCHAR" property="itemImg3" />
    <result column="item_img4" jdbcType="VARCHAR" property="itemImg4" />
    <result column="itme_info" jdbcType="VARCHAR" property="itmeInfo" />
    <result column="itme_buynumber" jdbcType="INTEGER" property="itmeBuynumber" />
    <result column="itme_eval" jdbcType="INTEGER" property="itmeEval" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    item_id, item_name, item_series, item_type, item_height, item_size, item_number,
    item_price, item_img1, item_img2, item_img3, item_img4, itme_info, itme_buynumber,
    itme_eval
  </sql>
  <select id="selectByExample" parameterType="com.j1902.shopping.pojo.ItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from item
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.j1902.shopping.pojo.ItemExample">
    delete from item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.j1902.shopping.pojo.Item">
    insert into item (item_id, item_name, item_series,
      item_type, item_height, item_size,
      item_number, item_price, item_img1,
      item_img2, item_img3, item_img4,
      itme_info, itme_buynumber, itme_eval
      )
    values (#{itemId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, #{itemSeries,jdbcType=VARCHAR},
      #{itemType,jdbcType=VARCHAR}, #{itemHeight,jdbcType=VARCHAR}, #{itemSize,jdbcType=VARCHAR},
      #{itemNumber,jdbcType=INTEGER}, #{itemPrice,jdbcType=DOUBLE}, #{itemImg1,jdbcType=VARCHAR},
      #{itemImg2,jdbcType=VARCHAR}, #{itemImg3,jdbcType=VARCHAR}, #{itemImg4,jdbcType=VARCHAR},
      #{itmeInfo,jdbcType=VARCHAR}, #{itmeBuynumber,jdbcType=INTEGER}, #{itmeEval,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.j1902.shopping.pojo.Item">
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        item_id,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="itemSeries != null">
        item_series,
      </if>
      <if test="itemType != null">
        item_type,
      </if>
      <if test="itemHeight != null">
        item_height,
      </if>
      <if test="itemSize != null">
        item_size,
      </if>
      <if test="itemNumber != null">
        item_number,
      </if>
      <if test="itemPrice != null">
        item_price,
      </if>
      <if test="itemImg1 != null">
        item_img1,
      </if>
      <if test="itemImg2 != null">
        item_img2,
      </if>
      <if test="itemImg3 != null">
        item_img3,
      </if>
      <if test="itemImg4 != null">
        item_img4,
      </if>
      <if test="itmeInfo != null">
        itme_info,
      </if>
      <if test="itmeBuynumber != null">
        itme_buynumber,
      </if>
      <if test="itmeEval != null">
        itme_eval,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemSeries != null">
        #{itemSeries,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null">
        #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="itemHeight != null">
        #{itemHeight,jdbcType=VARCHAR},
      </if>
      <if test="itemSize != null">
        #{itemSize,jdbcType=VARCHAR},
      </if>
      <if test="itemNumber != null">
        #{itemNumber,jdbcType=INTEGER},
      </if>
      <if test="itemPrice != null">
        #{itemPrice,jdbcType=DOUBLE},
      </if>
      <if test="itemImg1 != null">
        #{itemImg1,jdbcType=VARCHAR},
      </if>
      <if test="itemImg2 != null">
        #{itemImg2,jdbcType=VARCHAR},
      </if>
      <if test="itemImg3 != null">
        #{itemImg3,jdbcType=VARCHAR},
      </if>
      <if test="itemImg4 != null">
        #{itemImg4,jdbcType=VARCHAR},
      </if>
      <if test="itmeInfo != null">
        #{itmeInfo,jdbcType=VARCHAR},
      </if>
      <if test="itmeBuynumber != null">
        #{itmeBuynumber,jdbcType=INTEGER},
      </if>
      <if test="itmeEval != null">
        #{itmeEval,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.j1902.shopping.pojo.ItemExample" resultType="java.lang.Long">
    select count(*) from item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update item
    <set>
      <if test="record.itemId != null">
        item_id = #{record.itemId,jdbcType=INTEGER},
      </if>
      <if test="record.itemName != null">
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemSeries != null">
        item_series = #{record.itemSeries,jdbcType=VARCHAR},
      </if>
      <if test="record.itemType != null">
        item_type = #{record.itemType,jdbcType=VARCHAR},
      </if>
      <if test="record.itemHeight != null">
        item_height = #{record.itemHeight,jdbcType=VARCHAR},
      </if>
      <if test="record.itemSize != null">
        item_size = #{record.itemSize,jdbcType=VARCHAR},
      </if>
      <if test="record.itemNumber != null">
        item_number = #{record.itemNumber,jdbcType=INTEGER},
      </if>
      <if test="record.itemPrice != null">
        item_price = #{record.itemPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.itemImg1 != null">
        item_img1 = #{record.itemImg1,jdbcType=VARCHAR},
      </if>
      <if test="record.itemImg2 != null">
        item_img2 = #{record.itemImg2,jdbcType=VARCHAR},
      </if>
      <if test="record.itemImg3 != null">
        item_img3 = #{record.itemImg3,jdbcType=VARCHAR},
      </if>
      <if test="record.itemImg4 != null">
        item_img4 = #{record.itemImg4,jdbcType=VARCHAR},
      </if>
      <if test="record.itmeInfo != null">
        itme_info = #{record.itmeInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.itmeBuynumber != null">
        itme_buynumber = #{record.itmeBuynumber,jdbcType=INTEGER},
      </if>
      <if test="record.itmeEval != null">
        itme_eval = #{record.itmeEval,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update item
    set item_id = #{record.itemId,jdbcType=INTEGER},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      item_series = #{record.itemSeries,jdbcType=VARCHAR},
      item_type = #{record.itemType,jdbcType=VARCHAR},
      item_height = #{record.itemHeight,jdbcType=VARCHAR},
      item_size = #{record.itemSize,jdbcType=VARCHAR},
      item_number = #{record.itemNumber,jdbcType=INTEGER},
      item_price = #{record.itemPrice,jdbcType=DOUBLE},
      item_img1 = #{record.itemImg1,jdbcType=VARCHAR},
      item_img2 = #{record.itemImg2,jdbcType=VARCHAR},
      item_img3 = #{record.itemImg3,jdbcType=VARCHAR},
      item_img4 = #{record.itemImg4,jdbcType=VARCHAR},
      itme_info = #{record.itmeInfo,jdbcType=VARCHAR},
      itme_buynumber = #{record.itmeBuynumber,jdbcType=INTEGER},
      itme_eval = #{record.itmeEval,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.j1902.shopping.pojo.Item">
    update item
    <set>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemSeries != null">
        item_series = #{itemSeries,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null">
        item_type = #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="itemHeight != null">
        item_height = #{itemHeight,jdbcType=VARCHAR},
      </if>
      <if test="itemSize != null">
        item_size = #{itemSize,jdbcType=VARCHAR},
      </if>
      <if test="itemNumber != null">
        item_number = #{itemNumber,jdbcType=INTEGER},
      </if>
      <if test="itemPrice != null">
        item_price = #{itemPrice,jdbcType=DOUBLE},
      </if>
      <if test="itemImg1 != null">
        item_img1 = #{itemImg1,jdbcType=VARCHAR},
      </if>
      <if test="itemImg2 != null">
        item_img2 = #{itemImg2,jdbcType=VARCHAR},
      </if>
      <if test="itemImg3 != null">
        item_img3 = #{itemImg3,jdbcType=VARCHAR},
      </if>
      <if test="itemImg4 != null">
        item_img4 = #{itemImg4,jdbcType=VARCHAR},
      </if>
      <if test="itmeInfo != null">
        itme_info = #{itmeInfo,jdbcType=VARCHAR},
      </if>
      <if test="itmeBuynumber != null">
        itme_buynumber = #{itmeBuynumber,jdbcType=INTEGER},
      </if>
      <if test="itmeEval != null">
        itme_eval = #{itmeEval,jdbcType=INTEGER},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.j1902.shopping.pojo.Item">
    update item
    set item_name = #{itemName,jdbcType=VARCHAR},
      item_series = #{itemSeries,jdbcType=VARCHAR},
      item_type = #{itemType,jdbcType=VARCHAR},
      item_height = #{itemHeight,jdbcType=VARCHAR},
      item_size = #{itemSize,jdbcType=VARCHAR},
      item_number = #{itemNumber,jdbcType=INTEGER},
      item_price = #{itemPrice,jdbcType=DOUBLE},
      item_img1 = #{itemImg1,jdbcType=VARCHAR},
      item_img2 = #{itemImg2,jdbcType=VARCHAR},
      item_img3 = #{itemImg3,jdbcType=VARCHAR},
      item_img4 = #{itemImg4,jdbcType=VARCHAR},
      itme_info = #{itmeInfo,jdbcType=VARCHAR},
      itme_buynumber = #{itmeBuynumber,jdbcType=INTEGER},
      itme_eval = #{itmeEval,jdbcType=INTEGER}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <select id="getByBuyNumber" parameterType="com.j1902.shopping.pojo.Item" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from
    item
    order by
    itme_buynumber
    desc

  </select>
</mapper>